<div class="explore-wrapper flex flex-col lg:flex-row mt-20">
    <div class="subscribe w-1/2">
        <span>EXPLORE</span>
        <span>OUR</span>
        <span>INSTAGRAM</span>
        <app-button [buttonValue]="'SUBSCRIBE'"></app-button>
    </div>
    <div class="images-grid w-1/2 border border-black">
        <div class="images-grid-container grid grid-cols-3 gap-4 border border-black">

            <div class="img-container border border-black">
                <img class="rounded-xl" src="../../assets/images/hightlights2.jpg" alt="" srcset="">
                <!-- <span class="text-sm">Image Description</span> -->
            </div>

            <div class="img-container border border-black">
                <img class="rounded-xl" src="../../assets/images/hightlights5.jpg" alt="" srcset="">
                <!-- <span class="text-sm">Image Description</span> -->
            </div>

            <div class="img-container border border-black">
                <img class="rounded-xl" src="../../assets/images/hightlights3.jpg" alt="" srcset="">
                <!-- <span class="text-sm">Image Description</span> -->
            </div>

            <div class="img-container border border-black">
                <img class="rounded-xl" src="../../assets/images/hightlights3.jpg" alt="" srcset="">
                <!-- <span class="text-sm">Image Description</span> -->
            </div>

            <div class="img-container border border-black">
                <img class="rounded-xl" src="../../assets/images/hightlights6.jpg" alt="" srcset="">
                <!-- <span class="text-sm">Image Description</span> -->
            </div>

            <div class="img-container border border-black">
                <img class="rounded-xl" src="../../assets/images/hightlights4.jpg" alt="" srcset="">
                <!-- <span class="text-sm">Image Description</span> -->
            </div>

            <div class="img-container border border-black">
                <img class="rounded-xl" src="../../assets/images/hightlights4.jpg" alt="" srcset="">
                <!-- <span class="text-sm">Image Description</span> -->
            </div>

            <div class="img-container border border-black">
                <img class="rounded-xl" src="../../assets/images/hightlights7.jpg" alt="" srcset="">
                <!-- <span class="text-sm">Image Description</span> -->
            </div>

            <div class="img-container border border-black">
                <img class="rounded-xl" src="../../assets/images/hightlights2.jpg" alt="" srcset="">
                <!-- <span class="text-sm">Image Description</span> -->
            </div>
        </div>
    </div>
</div>
