<div class="footer-wrapper flex flex-col bg-footer-bg bg-footer">
    <div class="footer-container flex flex-col">

        <div class="links-group flex flex-col lg:flex-row items-center lg:items-start p-6 gap-10 text-white lg:justify-evenly lg:p-20 ">
            
            <div class="get-in-toush flex lg:flex-1/4 flex-col items-center lg:items-start gap-6">
                <div class="title font-semibold text-white"> GET IN TOUCH </div>
                <div class="details-container flex flex-col items-center lg:items-start gap-4">
                    <div class="logo w-20 h-20 cursor-pointer">
                        <img src="../../assets/images/logo.png" alt="" srcset="">
                    </div>
                    <div class="addresss text-center lg:text-start text-sm w-[300px]">
                        Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018.
                    </div>
                    <div class="social-icons-group">
                        <div class="social flex flex-row items-center gap-4 ">
                            <img class="w-8 h-8 cursor-pointer bg-white rounded-full border border-white" src="../../assets/images/instagram.svg" alt="" srcset="" />
                            <img class="w-8 h-8 cursor-pointer bg-white rounded-full border border-white" src="../../assets/images/facebook.svg" alt="" srcset="" />
                            <img class="w-8 h-8 cursor-pointer bg-white rounded-full border border-white" src="../../assets/images/twitter.svg" alt="" srcset="" />
                        </div>
                    </div>
                </div>
    
            </div>
    
            <div class="categories flex lg:flex-1/4 flex-col items-center  gap-6">
                <div class="title font-semibold text-white lg:items-start">  CATEGORIES  </div>
                <div class="details-container flex flex-col gap-4 text-center lg:items-start text-sm">
                    <a href="">Buy</a>
                    <a href="">Ingredients</a>
                    <a href="">Track Order</a>
                    <a href="">Delivery</a>
                </div>
            </div>
    
            <div class="links flex lg:flex-1/4 flex-col items-center gap-6 lg:items-start">
                <div class="title font-semibold text-white">  LINKS  </div>
                <div class="details-container flex flex-col gap-4 text-center lg:items-start text-sm">
                    <a href="#">Home</a>
                    <a href="#">About Us</a>
                    <a href="#">Contact Us</a>
                </div>
            </div>
    
            <div class="help flex lg:flex-1/4 flex-col items-center gap-6 lg:items-start">
                <div class="title font-semibold text-white">  HELP  </div>
                <div class="details-container flex flex-col gap-4 text-center lg:items-start text-sm"> 
                    <a href="">Faq's</a>
                    <a href="">Terms of Service</a>
                    <a href="">Privacy Policy</a>
                </div>
            </div>
        </div>

        <div class="payments flex flex-col items-center my-4 text-white">
            <img src="../../assets/images/payment-item.png.webp" alt="" srcset="">
        </div>
        <div class="copyrights flex flex-col items-center my-4 text-xs text-white">
            <span>Copyright © {{Year}}. All rights are reserved (sanuja-gayantha)</span>
        </div>
    </div>
</div>


