<div class="about-wrapper flex flex-col">
    <div class="top-container flex flex-col lg:flex-row items-center p-4">
        <div class="title text-4xl font-marker leading-relaxed">
            WHAT DOES IT MEAN FUNCTIONAL <span class="bg-primary px-2 rounded-xl">SNACKS?</span>
        </div>
        <div class="description-container flex flex-col text-center">
            <div class="image">

            </div>
            <div class="description">
                Snacks that not only give you a unique taste, but also benefit the body because of natural ingredients. Great source of natural vitamins and minerals. 
            </div>
        </div>
    </div>
    <div class="bottem-container">
        <div class="description-container">
            <div class="sub-title-container">
                <div class="image"></div>
                <div class="sub-title">FUNCTIONAL SNACKS WITH WELL-BALANCED INGREDIENTS</div> 
            </div>
            <div class="description">
                High level of plant-based proteins and healthy fats along with low level of carbohydrates - our snacks are the best choice for active people.
            </div>
            <app-button [buttonValue]="'WANT IT'"></app-button>
        </div>
    </div>
</div>