<div class="nav-wrapper flex w-screen h-20 sticky top-0  z-50 bg-purple-200">
    <div class="container flex flex-col lg:flex-row w-screen lg:items-center">

        <div class="header-wrapper flex flex-row justify-between items-center mx-4 md:ml-4 md:mx-0">
            <div class="logo h-[4.5rem]">
                <a href="#" class="cursor-pointer">
                    <img class="w-full h-full" src="../../assets/images/logo.png" alt="shop logo" srcset="" />
                </a>
            </div>

            <div class="openClose lg:pr-2 lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <!--     
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg> -->
            </div>
        </div>

        <div class="items-wrapper w-screen ">
            <div class="nav-items flex flex-col lg:flex-row items-center h-screen bg-purple-50 lg:bg-transparent font-bold">

                <div class="cursor-pointer p-4">ABOUT</div>
                <div class="cursor-pointer p-4">BUY</div>
                <div class="cursor-pointer p-4">INGREDIENTS</div>
                <div class="cursor-pointer p-4">EXPLORE</div>
                <div class="cursor-pointer p-4">CONTACTS</div>
            </div>
        </div>

    </div>
</div>