<div class="ingredient-item-wrapper">
    
    <div [ngClass]="{'border-b':  show === true || ingredientItem.ingId===4}"  class="question border-t border-primary flex flex-col lg:flex-row gap-1 items-center  py-6 lg:justify- ">

        <span class="text-2xl lg:text-3xl text-primary font-semibold font-marker lg:w-[300px]">0{{ingredientItem.ingId}}</span>
        <span class="text-2xl lg:text-3xl font-marker lg:w-[600px] lg:text-start">{{ingredientItem.ingName}}</span>
        <span class="font-light lg:w-[600px]">{{ingredientItem.ingSubName}}</span>
        <div (click)="showHide()" class="plus cursor-pointer mt-4 lg:mt-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6 bg-primary rounded-full text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>

        </div>
    </div>

    <div *ngIf="show" class="answer py-6 flex flex-col lg:flex-row gap-6">
        <div class="image lg:w-1/2">
            <img src={{ingredientItem.ingImgUrl}} alt="" srcset="">
        </div>
        <div class="details lg:w-1/2 flex flex-col justify-between gap-6">
            <span class="font-light font-sm text-center lg:text-start">{{ingredientItem.ingDesc}}</span>
            <div class="vitamins text-2xl lg:text-3xl flex flex-col lg:flex-row gap-4 text-center lg:text-start">

                <span *ngFor="let vitamin of ingredientItem.vitamins; index as i" [ngClass]="{'text-flavor1': i%2 !== 0}" class=" font-semibold text-primary">{{vitamin}}</span>

            </div>
        </div>
    </div>
</div>